<div class="col-md-12">
    <form *ngIf="!isDecrypted"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <h3>Decrypt</h3>
      <div class="form-group">
        <label for="filePath">Insert directory path</label>
        <input
          id="filePath"
          type="text"
          class="form-control"
          name="filePath"
          [(ngModel)]="form.filePath"
          required
          #filePath="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && filePath.invalid"
        >
          File path is required!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Decrypt
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isDecryptedFailed"
        >
          Decrypt failed: We didnt find your folder
        </div>
      </div>
    </form>
  <div class="card-container" *ngIf="isDecrypted">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <div class="alert alert-success">
      Decrypted Success !
    </div>
  </div>
</div>

