<div class="col-md-12">
  <div class="card card-container" *ngIf="!isEncrypted">
    <img
      id="profile-img"
      src="../assets/File_Lock.png"
      class="profile-img-card"
    />
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="filePath">Insert file path</label>
        <input
          type="text"
          class="form-control"
          name="filePath"
          [(ngModel)]="form.filePath"
          required
          #filePath="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && filePath.invalid"
        >
          File path is required!
        </div>
      </div>
      <label for="encryption">Choose an encryption option:</label>
      <select class="encryption" id="encryption" name="encryption" [(ngModel)]="form.encryption" required #encryption="ngModel">
        <option type="text" value="ShiftUp">ShiftUp</option>
        <option value="Xor">Xor</option>
        <option value="ShiftMultiply">ShiftMultiply</option>
        <option value="Double">Double</option>
        <option value="Repeat">Repeat</option>
      </select>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && encryption.invalid"
      >
        Encryption type is required!
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Encrypt
        </button>
      </div>
    </form>
  </div>
  <img
    *ngIf="isEncrypted"
    id="done-img"
    src="../assets/V.png"
    class="task-done-img"
  />
</div>

