<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="../assets/File_Lock.png"
      class="profile-img-card"
    />
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="filePath">Insert file path</label>
        <input
          type="text"
          class="form-control"
          name="filePath"
          [(ngModel)]="form.filePath"
          required
          #filePath="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && filePath.invalid"
        >
          File path is required!
        </div>
      </div>
      <label for="encytion">Choose an encryption option:</label>
      <select class="encytion" id="encytion">
        <option value="ShiftUp">ShiftUp</option>
        <option value="Xor">Xor</option>
        <option value="ShiftMultiply">ShiftMultiply</option>
        <option value="Double">Double</option>
        <option value="Repeat">Repeat</option>
      </select>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Encrypt
        </button>
      </div>
    </form>
  </div>
</div>

