<div class="col-md-12">
    <form *ngIf="!isEncrypted"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <h3>Encrypt</h3>
      <label class="label" >Insert directory path</label>
      <div class="form-group">
        <input
          type="text"
          class="text-input"
          name="filePath"
          [(ngModel)]="form.filePath"
          required
          #filePath="ngModel"
        />

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && filePath.invalid"
        >
          Folder path is required!
        </div>
      </div>
      <label for="type">Choose an encryption option:</label>
      <select class="encryption"
              id="type"
              name="type"
              [(ngModel)]="form.type"
              required
              #type="ngModel"
      >
        <option *ngFor="let opt of options"
                [selected]="opt === ngSelect"
                [value]="opt"
        >
          {{ opt }}
        </option>
      </select>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && type.invalid"
      >
        Encryption type is required!
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Encrypt
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isEncryptFailed"
        >
          Encrypt failed: We didnt find your folder
        </div>
      </div>
    </form>
  <div class="card-container" *ngIf="isEncrypted">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <div class="alert alert-success">
      Encrypt Success !
    </div>
  </div>
</div>

